<div id="login_form">
    <form name="f1" role="form">
        <table>
            <tr>
                <td class="f1_label">User Name :</td><td><input type="text" name="username" value="" />
                </td>
            </tr>
            <tr>
                <td class="f1_label">Password  :</td><td><input type="password" name="password" value=""  />
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="login()">SING IN</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="/sign-up" routerLinkActive="active">SIGN UP</a>
                </td>
            </tr>
        </table>
    </form>
</div>
