<div id="register_form">
    <form name="f1" role="form">
        <table>
          <tr>
              <td class="f1_label">Name :</td><td><input type="text" name="name" value="" />
              </td>
          </tr>
            <tr>
                <td class="f1_label">UserName :</td><td><input type="text" name="username" value="" />
                </td>
            </tr>
            <tr>
                <td class="f1_label">Password  :</td><td><input type="password" name="password" value=""  />
                </td>
            </tr>
            <tr>
                <td>
                    <button>SING UP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="/sign-in" routerLinkActive="active">BACK</a>
                </td>
            </tr>
        </table>
    </form>
</div>
